.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}
.header {
    position: fixed;
    height: 50px;
    background: #000;
    min-width: 100%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
.menu {
    display: inline-block;
}
.menu__item {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: underline;
}
.menu__item:hover {
    text-decoration: none;
}
.todo-list {
    display: block;
    margin-bottom: 50px;
}
.todo-list__items {
    margin: 0;
    padding: 0;
    overflow: auto;
}
.todo-list__item {
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}
.todo-list__input {
    width: 80%;
}
.todo-list__item_done .todo-list__input {
    background: #aeffb1;
    border: 1px solid #ccc;
}
.todo-list__item .todo-list__toggle:before {
    content: 'не готово'
}
.todo-list__item_done .todo-list__toggle:before {
    content: 'готово'
}
.toolbar {
    text-align: center;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: red;
}